/* Version resource for vmbaud.sys (numeric constants: no SDK headers needed).
 * Distributed under the MS-PL; see LICENSE in this directory. */
1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   0x3F
FILEFLAGS       0
FILEOS          0x40004     /* VOS_NT_WINDOWS32 */
FILETYPE        3           /* VFT_DRV */
FILESUBTYPE     7           /* VFT2_DRV_SYSTEM */
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "nt5-hvgen2"
            VALUE "FileDescription",  "PortCls WaveCyclic render driver over a VMBus pipe"
            VALUE "FileVersion",      "0.1.0.0"
            VALUE "InternalName",     "vmbaud.sys"
            VALUE "OriginalFilename", "vmbaud.sys"
            VALUE "ProductName",      "nt5-hvgen2"
            VALUE "ProductVersion",   "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
